@model Employee
@{
    ViewData["Title"] = "Add An Employee";
}
<h1>@ViewData["Title"]</h1>
<form asp-action="Create" asp-controller="Employee" method="post" >
    <div class="my-3">
        <label>Enter Id</label>
        <input type="number" class="form-control" name="Id" />
    </div>
    <div class="my-3">
        <label>Enter Name</label>
        <input type="text" class="form-control" name="EName" />
    </div>
    <div class="my-3">
        <label>Enter Mobile</label>
        <input type="text" class="form-control" name="Mobile" />
    </div>
    <input type="submit" class="btn btn-primary" value="Save" />
</form>
